/* .input-wrapper {
  width: 100%;
  height: 3rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 15px;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
  flex: 1;
}

input:focus {
  outline: none;
} */

#search-icon {
  color: black;
  margin-left: 5px;
}

.delete-button {
  width: 80px;
}

.buy-button {
  width: 80px;
  border: solid 1px black;
  background-color: rgb(70, 223, 9);
}

.book-covers {
  width: 50px;
  height: auto;
}
