.Search-Container {
  position: relative;
  display: inline-block;
}
input {
  padding-right: 30px;
}

#search-icon {
  color: rgb(115, 115, 115);
  position: absolute;
  top: 30%;
  right: 10px;
  transform: translateY(-50%);
}

.delete-button {
  padding: 5px;
  color: rgb(115, 115, 115);
  cursor: pointer;
}

.buy-button {
  padding: 5px;
  color: rgb(155, 245, 21);
  cursor: pointer;
}

.edit-button {
  padding: 5px;
  color: rgb(115, 115, 115);
  cursor: pointer;
}

.book-covers img {
  width: 300px;
  height: auto;
  cursor: pointer;
}

.displayed-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text {
  color: rgb(115, 115, 115);
  font-family: "Garamond Pro, 'Courier New', monospace";
}
