.ship-container{
    display: flex;
  /* justify-content: flex-start; */
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
.ship-left{
    flex: 1 0 50%; 
    padding: 20px;
}
.ship-right{
    flex: 1 0 50%; 
    padding: 20px;
}